@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

.bg-image-full{
    background-image: url(../assets/img/gemBG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
    width: 100%;
}

.bg-Blue{
    background-color: #00193e;
}

.welcome-container {
    background-color: rgb(0, 0, 0, 0.3);
    box-shadow: 0px 5px 50px #303030, inset 0px 0px 0px rgb(0 0 0 / 32%);
}
.fixed-container {
    position: absolute;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.base-container {
    /* background-color: rgb(0, 0, 0, 0.5); */
    border-radius: 20px;
    box-shadow: 0px 5px 30px rgb(0, 29, 72), inset 0px 0px 0px rgb(0 0 0 / 32%);
}
.text-container{
    background-color: rgb(0, 0, 0, 0.3);
    box-shadow: 0px 5px 30px rgb(0, 29, 72), inset 0px 0px 0px rgb(0 0 0 / 32%);
    border-radius: 20px;
    border: 2px solid whitesmoke;
}
.stat-container {
    background: transparent;
    box-shadow: 0px 5px 30px rgb(0, 29, 72), inset 0px 0px 0px rgb(0 0 0 / 32%);
    border-radius: 20px;
    border: 2px solid rgb(0, 72, 197);
    overflow-y:hidden;
}
.stat-container2 {
    background: transparent;
    box-shadow: 0px 5px 30px rgb(0, 29, 72), inset 0px 0px 0px rgb(0 0 0 / 32%);
    border-radius: 20px;
    border: 2px solid rgb(0, 72, 197);
    overflow-y: hidden;
}
@media screen and (max-width: 991px) {
    .stat-container{
margin-top: 350px;
margin-bottom: 30px;
    } 
    }

.gemContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between;
}

.myGemImage {
    justify-content: center;
    padding: 5px;
}

.gem {
    max-width: 75px;
    max-height: 100px;
}

.logo {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

.heading {
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
}

.subheading {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
}

.title {
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
}

.sub-title {
    font-family: 'Orbitron', sans-serif;
}

.myButton {
    background: linear-gradient(to right, #0d6efd, #ee0979);
    color: white;
}

.myButton:hover {
    background: linear-gradient(to left, #0d6efd, #ee0979);
    color: white;
}

.myButton-outline {
    color: white;
    background: transparent;
    border: 2px solid rgb(13, 110, 253);
    font-family: 'Orbitron', sans-serif;
}

.myButton-outline:hover {
    background-color: rgb(13, 110, 253);
    color: white;
}

.mintButton-outline {
    color: white;
    background: transparent;
    border: 2px solid white;
    font-family: 'Orbitron', sans-serif;
}

.mintButton-outline:hover {
    background-color: white;
    color: black;
}

.btn-group {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-left: 30px;
}

.btn-group button {
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3), 4px 7px 15px rgba(0, 0, 0, 0.2),
        9px 15px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px; */
    width: 100%;
}

.input-group input {
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    width: 40%;
    text-align: center;
}

.input-group button {
    border-radius: 15px;
    outline: none;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .input-group button,
    input {
        padding: 1rem 1.5rem
    }

    .input-group input {
        width: 20%;
    }

}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.rounded-end {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom {
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.rounded-start {
    border-bottom-left-radius: 0.25rem !important;
    border-top-left-radius: 0.25rem !important;
}